*,
ul,
ol {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* width: 100%; */
}

html {
  background-color: black;
  height: 100%;
}

body {
  background-color: transparent;
  color: white;
  height: 100%;
}

#root,
#layout,
#home {
  height: 100%;
  background-color: #000;
}

header {
  box-shadow: -2px 2px 10px white;
}

.card-shadow {
  box-shadow: 2px -1px 5px white, -2px 1px 10px white;
}

#home-card {
  width: 90%;
  height: 15em;
  margin: 5em auto;
  background-color: #000;
}

.card-img-overlay {
  padding-top: 3em;
}

/* p#home-card {
  width: 70%;
} */

#search-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5em 0 0 0;
}

#tweet-list {
  list-style: none;
}

.tweet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 1.5em;
  background-color: transparent;
  border-radius: 0.5em;
  padding: 1em;
}

.card-head {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0 0.5em 0;
}

div.card-head > h2 {
  margin: 0.5em 0 0 0;
}

.user-card .card-head {
  width: 50%;
}

.profile-img {
  display: inline-block;
}

.profile-img {
  border-radius: 50%;
}

.tweet-card h2 {
  font-size: 1.3em;
  margin: 0 0 0 1em;
}

#search {
  display: block;
  border-radius: 2em;
  margin: 1em auto 1.5em;
  padding: 0.25em 1em;
  background-color: transparent;
  color: white;
  text-align: center;
}

#submit-search {
  display: none;
}

.metrics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

#favorites-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-page ul,
#favorites-page ul {
  list-style: none;
  width: 90%;
  margin: 1em auto;
}

.user-card {
  display: flex;
  flex-direction: column;
  margin: 1.5em 0 0 0;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 1em;
}

.random-tweet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 1em auto 1.5em;
  width: 90%;
  padding: 0 1em;
}

.random-tweet-card-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.random-tweet-card span {
  text-align: center;
}

.random-tweet-card button {
  border-radius: 1em;
  background-color: transparent;
  color: white;
  margin: 1em 0 0 0;
  width: 50%;
}
.tweet-text {
  text-align: center;
}

.media-img {
  max-width: 100%;
  max-height: 100%;
}

.metric {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em 0;
}

@media (min-width: 500px) {
  .card-head {
    flex-direction: row;
  }

  div.card-head > h2 {
    margin: 0 0 0 0.5em;
  }

  .media-img {
    display: block;
    max-width: 50%;
    max-height: 50%;
    margin: 0 auto;
  }
}
