* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: black;
  height: 100%;
}

body {
  background-color: transparent;
  color: white;
  height: 100%;
}

#root,
#layout,
#home {
  height: 100%;
}

header {
  box-shadow: -2px 2px 10px white;
}

#card {
  width: 50%;
  margin: 5em auto;
  box-shadow: 2px -1px 5px white, -2px 1px 10px white;
  background-color: transparent;
}

.card-img-overlay {
  padding-top: 3em;
}

p.home-card {
  width: 70%;
}
